@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor1: #f2bf5e;
    --cor2: #a68851;
    --cor3: #402709;
    --cor4: #bfb5a8;
    --cor5: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ebe8e8;
}

header {
    height: 220px;
    background-color: #f2f2f2;
}

#imgheader {
    display: block;
    margin: auto;
}

header #title1 {
    text-align: center;
    color: #402709;
    text-shadow: 1px solid rgba(0, 0, 0, 0.473);
}

#title2 {
    color: #402709;
    text-align: center;
    text-decoration: overline;
    font-style: italic;
}
 

nav {
    background-color: #a68851;
    
} 

.toggle_btn {
    color: #f2f2f2;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;

}

nav .menu-bar {
    margin: auto;
    text-align: center;
}

nav .menu-bar ul {
    display: inline-flex;
    list-style: none;
}

nav .menu-bar ul li {
    width: 180px;
    margin: 10px;
    padding: 10px;
}

nav .menu-bar ul li a{
    color: #fff;
    text-decoration: none;
    text-shadow: 1px solid rgba(0, 0, 0, 0.473);
}

nav .menu-bar ul li a:hover {
    padding: 12px;
    background-color: #f2bf5e;
    border-radius: 4px;
}

nav .menu-bar .fa-solid {
    margin-right: 5px;

}

nav .menu1 {
    display: none;
    z-index: 9; /*usar z-index faz com que o menu apareça sobre todas as coisas*/
    
}


nav .menu-bar ul li:hover .menu1 {
    display: block;
    position: absolute;
    background: #a68851;
    margin-top: 10px;
    margin-left: -10px;
    text-align: center;
}

nav .menu-bar ul li:hover .menu1 ul {
    display: inline-block;
    margin: 5px;
}

nav .menu-bar ul li:hover .menu1 ul li {
    width: 150px;
    padding: 3px;
    border-bottom: 1px solid dotted #fff;
    background: transparent;
    border-radius: 6px;
    text-align: center;
}

nav .menu-bar ul li:hover .menu1 ul li :last-child {
    border-bottom: none;
 }

 .menu-bar ul li:hover .menu1 ul li a:hover {
    color:#402709 ;
}

.menu-bar .toggle_btn {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/*Dropdown menu*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

/*Responsividade*/

@media (max-width: 992px) {
    .menu-bar {
        display: none;
    }
}
.toggle_btn {
    display: block;
}

.dropdown_menu {
    display: block;
}

@media (max-width: 576px) {
    .dropdown_menu {
        left:2rem;
        width: unset;
    }

}

main {
    background-color: #fff;
}

main #principal {
    background-color: #a68851;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: auto;
    text-shadow: 1px solid rgba(0, 0, 0, 0.473);
}

.containera {
    background-color: #f2f2f2;
}

.conteudo {
    display: table;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    
    
}



.imagem {
    display: table-cell;
    float: left;
    
}

.texto {
    display: table-cell;
    float: right;
    width: 500px;
    margin: auto;
    margin-left: 20px;
    margin-top: 55px;
    text-align: center;
}

.texto h2 {
    color: #402709;
}.texto p {
    color:#917747;
}

.imagem1 {
    display: table-cell;
    float: right;
}

.texto1 {
    display: table-cell;
    float: left;
    width: 500px;
    margin: auto;
    margin-top: 55px;
    margin-right: 20px;
    text-align: center;
}

.texto1 h2 {
    color: #402709;
}

.texto1 p {
    color:#917747;
}

footer {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    color: #402709;
    padding: 10px;
    margin: auto;
    background-color: #bfb5a8;
}

#location {
    margin: auto;
    text-align: center;
    color: #402709;
    padding: 10px;
}

.flex-container {
    background-color: #ebe8e8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
}