@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor1: #f2bf5e;
    --cor2: #a68851;
    --cor3: #402709;
    --cor4: #bfb5a8;
    --cor5: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ebe8e8;
    display: grid;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-areas: "h h"
                        "m a"
                        "f f"
}

header {
    height: 150px;
    background-color:#917747;
    grid-area: h;
}

#header {
    box-sizing: border-box;
    height: 130px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #917747;
}

#logo {
    display: block;
    width: 100px;
    height: 100px;
    margin: 20px;
}

#menu {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.fa-solid {
    margin-right: 8px;
}

#menu li {
    padding: 10px;
}

#menu a{
    color: #fff;
    text-decoration: none;
    text-shadow: 1px solid rgba(0, 0, 0, 0.473);
}

#menu a:hover {
    padding: 12px;
    background-color: #f2bf5e;
    border-radius: 4px;
}

#btn-mobile {
    display: none;
}



@media (max-width: 600px) {
    #btn-mobile {
        display: block;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        height: 0;
        transition: 0.6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
        
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background-color: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer {
        display: block;
        border-top: 2px solid;
        width: 20px;
    }

    #hamburguer::after,   #hamburguer::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hambuguer {
        border-top-color: transparent;
    }

    #nav.active #hambuguer::before {
        transform: rotate(135deg);

    }

    #nav.active #hambuguer::after {
        transform: rotate(-135deg);
        top: -7px;
        
    }
}



#title2 {
    color: #402709;
    text-align: center;
    text-decoration: overline;
    font-style: italic;
}
 

.toggle_btn {
    color: #f2f2f2;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;

}



.menu-bar ul li:hover .menu1 {
    display: block;
    position: absolute;
    background: #a68851;
    margin-top: 10px;
    margin-left: -10px;
    text-align: center;
}

.menu-bar ul li:hover .menu1 ul {
    display: inline-block;
    margin: 5px;
}

.menu-bar ul li:hover .menu1 ul li {
    width: 150px;
    padding: 3px;
    border-bottom: 1px solid dotted #fff;
    background: transparent;
    border-radius: 6px;
    text-align: center;
}

.menu-bar ul li:hover .menu1 ul li :last-child {
    border-bottom: none;
 }

 .menu-bar ul li:hover .menu1 ul li a:hover {
    color:#402709 ;
}

.menu-bar .toggle_btn {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/*Dropdown menu*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

/*Responsividade*/

@media (max-width: 992px) {
    .menu-bar {
        display: none;
    }
}
.toggle_btn {
    display: block;
}

.dropdown_menu {
    display: block;
}

@media (max-width: 576px) {
    .dropdown_menu {
        left:2rem;
        width: unset;
    }

}

main {
    background-color: blue;
    grid-area: m;
}

main #principal {
    background-color: #a68851;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: auto;
    text-shadow: 1px solid rgba(0, 0, 0, 0.473);
}

.containera {
    background-color: #f2f2f2;
}

.conteudo {
    display: table;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    
    
}



.imagem {
    display: table-cell;
    float: left;
    
}

.texto {
    display: table-cell;
    float: right;
    width: 500px;
    margin: auto;
    margin-left: 20px;
    margin-top: 55px;
    text-align: center;
}

.texto h2 {
    color: #402709;
}.texto p {
    color:#917747;
}

.imagem1 {
    display: table-cell;
    float: right;
}

.texto1 {
    display: table-cell;
    float: left;
    width: 500px;
    margin: auto;
    margin-top: 55px;
    margin-right: 20px;
    text-align: center;
}

.texto1 h2 {
    color: #402709;
}

.texto1 p {
    color:#917747;
}

aside {
    background-color: yellow;
    grid-area: a;
}

footer {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: red;
    grid-area: f;
}

#location {
    margin: auto;
    text-align: center;
    color: #402709;
    padding: 10px;
}

.flex-container {
    background-color: #ebe8e8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
}

.hist {
    background-color: #ebe8e8;
}

#hist {
    color: #402709;
    text-align: center;
    padding: 10px;
    margin: auto;
}

#hist2 {
    color: #917747;
    padding: 10px;
    margin: auto;
    font-size: clamp(1.75em, 1em, + 3vw, 2.5em);
    text-indent: 40px;
}

#par {
    color: rgb(12, 11, 11);
    text-align: justify;
    padding: 20px;
    margin: auto;
    font-size: clamp(1.75em, 1em, + 3vw, 2.5em);
    text-indent: 40px;
}

#photo {
    width: 250px;
    height: 250px;
    display: block;
    align-items: center;
    
    
}

section ava {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}