@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

root {
--cor01 #caf0f8;
--cor02 #90e0ef;
--cor03 #00b4d8;
--cor04 #0077b6;
--cor05  #03045e
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
    flex: 1 1 100vw;
    font-family: "Ubuntu", sans-serif;  
}

header, nav, main, aside, footer {
    background: #caf0f8;
    display: flex;
    margin: 3px;  
}

header {
  text-align: center;
    flex: 1 1 100vw;
    height: 100px;
    margin: auto;
}


nav {
    flex: 1 1 200px;
    flex-direction: column;
    padding: 20px;
    gap: 14px;   
}

.btn {
  position: absolute;
  top: 15px;
  left: 45px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #1b1b1b;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}

.btn.click {
  left: 260px;
}

.btn span {
  color: white;
  font-size: 28px;
  line-height: 45px;
}

.btn.click span:before{
  content: '\f00d';
}

.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  background: #1b1b1b;
  transition: left 0.4s ease;
}

.sidebar.show {
  left: 0px;
}

.sidebar .text{
  color: white;
  font-size: 25px;
  font-weight: 400;
  line-height: 65px;
  text-align: start;
  background: #1e1e1e;
  letter-spacing: 1px;
}

nav ul {
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
}

nav ul li {
  line-height: 35px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

nav ul li:last-child {
  border-bottom: 1px solid #1e1e1e;
}

nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding-left: 10px;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

nav ul li.active  a{
  color: #00b4d8;
  background: #1e1e1e;
  border-left: 3px solid transparent;
  border-left-color: #00b4d8;
}

nav ul ul {
  position: static;
  display: none;
}

nav ul .feat-show.show{
  display: block;
}

nav ul ul li {
  line-height: 42px;
  border-bottom: none;
}

nav ul ul li a {
  font-size: 17;
  color: #e6e6e6;
  padding-left: 30px;

}

nav ul li.active ul li a{
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;

}

nav ul ul li a:hover{
  color: #00b4d8;
  background: #1e1e1e;
}

nav ul li a span {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 18px;
  transition: transform 0.4s;
}

nav ul li a span.rotate {
  transform: translateY(-50%) rotate(-180deg);
  

}

main {
    background-color: #caf0f8;
    flex: 20 1 500px;  
    height: calc(100vh - 174px);  
}

aside {
    flex: 1 1 200px;    

}

footer {
    flex: 1 1 100vw;
    height: 50px;    
}

@media only screen and (max-width: 923px) {
    main {
        height: calc(100vh - 330px);
    }

    aside {
        flex: 1 1 100vw;
        height: 100px;
    }
}

@media only screen and (max-width: 717px) {
    nav {
        height: 100px;
    }
    main {
        height: calc(100VH - 436px);
    }
}



a {
    text-decoration: none;
}

 