/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
   --header-height: 3.5rem;

   /*========== Colors ==========*/
   /*Color mode HSL(hue, saturation, lightness)*/
   --cor-01: #402709;;
   --cor-02: #a68851;
   --cor-03: #f2bf5e;
   --white-color: #fff;
   --cor-04: #f2f2f2;
   --cor-05: #bfb5a8;

   /*========== Font and typography ==========*/
   /*.5rem = 8px | 1rem = 16px ...*/
   --body-font: 'Montserrat', sans-serif;
   --normal-font-size: .938rem;

   // Responsive typography
   @media screen and (min-width: 1024px){
      --normal-font-size: 1rem;
   }

	/*========== Font weight ==========*/
   --font-regular: 400;
   --font-semi-bold: 600;

	/*========== z index ==========*/
   --z-tooltip: 10;
   --z-fixed: 100;
}