body {
    background-color: #e2e2e2;
    
}

main {
    height: 80%;
    width: 100vw;
}


.cadastrar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #e3eeeb;
    height: 100vh;
    width: 100%;
    gap: 50px;
}

.login_form {
    background: linear-gradient(90deg, #0E2D2F, #144a4d) ;
    width: 400px;
    max-width: 80%;
    height: 400px;
    max-height: 80%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    height: fit-content;
}

.inputs {
    padding: 10px;
    margin-bottom: 10px;
}

.input-box {
        color: #fff;
}

.input-field {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
    border-bottom: #fff;
}
.text_login {
    padding: 20px;
    margin: 20px;
    color: #fff;
}
.text_input {
    width: 300px;
    font-size: 18px;
    border: none;
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
   
}

.login_submit {
    height: 50px;
    width: 350px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
