footer {
    background-color: #caddc1;
    color:#387727;
}


#footer_items {
    display: flex;
    justify-content: space-between;
    padding: 0px 10% 24px 10%;
    align-items: center;
    height: 80px;
}

#copyright {
    color: #387727;
    font-weight: 500;
    
}

@media screen and (max-width: 600px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}