/*Social media*/
.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #7DBF5E;
    color: #0D0D0D;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-default:hover {
    background-color: #F2F2F2;
    color: #5BBF3F;
    text-decoration: none;
}

.social-media-buttons {
    display: flex;
    gap: 18px;

}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: var(--color-neutral-0);
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: #0D0D0D;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.social-media-buttons i {
    color:#0D0D0D;
}

/*Home*/
#home {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 95px);
    position: relative;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 3rem;
    color: #55b13cda;
}

#cta .title span {
    color: #387727;
}

#cta .description {
    font-size: 1.2rem;
}

#cta_buttons {
    display: flex;
    gap: 18px;
}

#cta_buttons a {
    text-decoration: none;
    color:#0D0D0D;
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 14px;
    width: 210px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}



#phone_button button {
    box-shadow: none;
}

#banner {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 60%;
    z-index: 2;
}

#banner img {
    right: 1px;
   
    
}

.shape {
    background-color:#7DBF5E;
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
}



@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner, #banner img, 
    #home .shape {
        display: none;
    }

    

    

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {
    #phone_button button {
        display: none;
    }

}