<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Login</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <header>
        <nav class="nav_bar">
            <div class="logo">
                <a href="../index.html"><i class="fa-solid fa-boxes-packing"></i></a>
            </div>
            <div class="link">
                <a href="#">Home</a>
                <a href="#">Contato</a>
                <a href="#">Quem somos</a>
            </div>
            <div class="login">
                <a href="#"><i class="fa-solid fa-user"></i></a>
            </div>
        </nav>
    </header>

    <main class="cadastrar">

        <form class="login_form">
            <div class="text_login">
                <h1>Cadastrar</h1>
            </div>

            <div class="inputs">

                <div class="input-box">
                    <label for="username">Usuário</label>
                    <div class="input-field">
                        <i class="fa-regular fa-user"></i>
                        <input type="text" name="username" class="text_input" ></div>
                </div>

                <div class="input-box">
                    <label for="email">E-mail</label>
                    <div class="input-field">
                        <i class="fa-regular fa-envelope"></i>
                        <input type="text" name="email" class="text_input">
                    </div>
                </div>

                <div class="input-box">
                    <label for="password">Senha</label>
                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="text" name="password" class="text_input">
                    </div>
                </div>
            </div>


            <button class="login_submit">Enviar</button>

        </form>

        <form class="login_form">
            <div class="text_login">
                <h1>Login</h1>
            </div>

            <div class="inputs">

                <div class="input-box">
                    <label for="username">Usuário</label>
                    <div class="input-field">
                        <i class="fa-regular fa-user"></i>
                        <input type="text" name="username" class="text_input" ></div>
                </div>

                <div class="input-box">
                    <label for="email">E-mail</label>
                    <div class="input-field">
                        <i class="fa-regular fa-envelope"></i>
                        <input type="text" name="email" class="text_input">
                    </div>
                </div>

                <div class="input-box">
                    <label for="password">Senha</label>
                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="text" name="password" class="text_input">
                    </div>
                </div>
            </div>


            <button class="login_submit">Enviar</button>

        </form>


    </main>



    
</body>
</html>