<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/register.css">

    <title>Projeto Curso</title>
</head>
<body>
    <header>
        <nav class="nav_bar">
            <div class="logo">
                <a href="#"><i class="fa-solid fa-boxes-packing"></i></a>
            </div>
            <div class="link">
                <a href="#">Home</a>
                <a href="#">Contato</a>
                <a href="#">Quem somos</a>
            </div>
            <div class="login">
                <a href="./views/login.html"><i class="fa-solid fa-user"></i></a>
            </div>
        </nav>
    </header>

    <form action="post" class="container">

        <div class="profile">
            <label>Nome</label>
            <input type="text" class="">

            <label>Sobrenome</label>
            <input type="text" class="">

            <label>Endereço</label>
            <input type="text" class="">

            <label>Email</label>
            <input type="email" class="">

            <label>Repetir Email</label>
            <input type="email" class="">

            <label>Data de Nascimento</label>
            <input type="date" class="">
            
            <label>Telefone de Contato</label>
            <input type="tel" class="">
        </div>

        <div class="social">
            <label>Como ficou sabendo do nosso curso?</label>
            <input type="checkbox" name="" id=""> Facebook
            <input type="checkbox" name="" id=""> Site Faculdade
            <input type="checkbox" name="" id=""> Colegas
            <input type="checkbox" name="" id=""> E-mail
            <input type="checkbox" name="" id=""> Outros
        </div>

        <button>Cadastrar</button>
    </form>

    
    
</body>
</html>